.slider-container {
    width: 100%; /* Zapewnia, że slider zajmuje całą szerokość */
}

/* Upewnij się, że obrazy w sliderze rozciągają się na całą szerokość */
.slider-container .slick-slide img {
    width: 100%;
    display: block;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";